*{
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

body{
    background: rgb(248, 248, 248);
    margin-top: 15px;
}

.article-list
{
    background: #fff; 
    padding: 25px; 
    float: left;
    width: 70%;
    margin-left: 15px;
    transform: translateY(-24px);
    box-shadow: 0px 0px 5px 0.1px rgb(145, 145, 145);
    -webkit-box-shadow: 0px 0px 5px 0.1px rgb(145, 145, 145);
    -moz-box-shadow: 0px 0px 5px 0.1px rgb(145, 145, 145);
}

.circle{
    width: 100px;
    height: 100px;
    background: lemonchiffon;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.name{
    margin: 0 20px 0px 20px;
}

.sidebar{
    width: 15%;
    float: left;
    box-shadow: 0px 0px 5px 0.1px rgb(145, 145, 145);
    -webkit-box-shadow: 0px 0px 5px 0.1px rgb(145, 145, 145);
    -moz-box-shadow: 0px 0px 5px 0.1px rgb(145, 145, 145);
}

.sidebar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.form-create{
    background: white;
    padding: 50px;
}

.sidebar{
    margin-left: 50px;
    background: #fff;
}

